@import url('https://fonts.googleapis.com/css?family=News+Cycle|PT+Sans+Narrow|Raleway');

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
}
section {
    padding: 0 25px;
}

header {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 100px;
    text-align: center;
    flex: 0 0 40px;
    padding: 20px;
    background-color: #d8f0fd;
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    font-size: 30px;
    margin-top: 1%;
}

img.hero.main {
    height: 500px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.center header nav a:hover {
    text-decoration: underline
}
nav {
    background-color: #a1d5f3;
    border: 2px;
}
nav ul {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
nav ul li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-flex;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
nav a:hover {
    text-decoration: none;
}

footer {
    background-color: #d8f0fd;
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border: 10px #d8f0fd solid;
}

footer section:first-child {
    grid-column: 2;
}

.imgbox {
    background-color: #d8f0fd;
    width: 750px;
    height: 500px;
    padding: 20px 10px;
    border: 5px solid rgba(105, 132, 250, 0.712);
}

.font {
    font-family: 'Raleway', sans-serif;
}

.inline {
    background-color: #889cf1;
    color: white;
    padding: 2px 5px;
    display: inline-block;
}

.box {
    color: white;
    font-size: 20px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
}

.about {
    box-sizing: content-box;
    font-family: 'News Cycle', sans-serif;
    padding-block-start: 30px;
    padding-block-end: 30px;
    border: #a1d5f3 10px solid;
    background-color: #a1d5f3;
    height: 20%;
    width: 1000px;
}

form {
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

form input, textarea {
    margin: 10px 0;
    border: 0;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

form input[type=submit] {
    width: 100%;
    background-color: #d8f0fd;
}

form textarea {
    min-height: 60px;
    max-height: 100px;
    resize: vertical;
}

/* Table styles */

table.styled {
    width: 100%;
    border-collapse: collapse;
}
table.styled thead, table.styled th {
    background-color: #dfdfdf;
}
table.styled thead, table.styled th {
    text-align: center;
}
table.styled th, table.styled td {
    border: 1px solid lightgray;
    padding: 5px;
}
footer table.styled th {
    background: none;
    text-align: left;
}
footer table.styled th, footer table.styled td {
    border: 0;
}
footer a {
    text-decoration: none;
}

.spb-box{
    margin: 10px;
}